# input and output methods
- reading the data or information from the user---***input()***
     - static input
     - dynamical input          
- displaying the information or data to the user---***print()***

In [17]:
a=10
b=20
print(a)
print(b)

10
20

In [7]:
a=input()
a

sateesh

'sateesh'

In [9]:
a=input("enter a value")
a

enter a value456

'456'

In [10]:
a=float(input("enter a value"))
a

enter a value565

565.0

In [11]:
a=complex(input("enter a value"))
a

enter a value456

(456+0j)

In [13]:
a=input("enter a value  ")
print(a)

enter a value  567
567

In [14]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [18]:
a=10
b=20
c=30
print(a,b,c,sep=",")
print(c)

10,20,30
30

In [24]:
# generate the three values from the user that values seperated with $ symbol and end with % and again print all three values
a=input("Enter a value")
b=input("Enter b value")
c=input("Enter c value")
print(a,b,c,sep="$ ",end="%  ")
print(a,b,c)

Enter a value5
Enter b value6
Enter c value7
5$ 6$ 7%  5 6 7

# Operators
- Arthmetic opertors(+,-,*,/,**,/,//,%)
    - output for the normal divison is quotient
    - output for the int divison or floor divison is intger part of the quotient
    - output for the modulo divison is reminder
- Assignment operator(=)
- comparison operator(<,>,<=,>=,==)
- Logical operator(and,or,not)
- Bitwise operator(&,|,!)
- Identity operator(is (==),isnot(!=))
- Membership operator(in,notin)

# Arthematic operator

In [31]:
a=3
b=2
print("addition is",a+b)
print("substraction is",a-b)
print("multiplication is",a*b)
print("power is",a**b)
print("divison is",a/b)
print("int divison or floor divison is",a//b)
print("modulo divison is",a%b)

addition is 5
substraction is 1
multiplication is 6
power is 9
divison is 1.5
int divison or floor divison is 1
modulo divison is 1

# Assignment operator
- it represents with =
- leftside value of the opereator(=) is called as  a varaiable.
- rightside value of the operator(=) is called as a value

In [33]:
a=20
b=50
print(a,b)

20 50

# comparation operator

In [34]:
2>5

False

In [35]:
2<5

True

In [36]:
2==2

True

In [40]:
if 2>9 and 2<=6 :
    print("print true or false")
else:
        print("false")

false

In [41]:
2>=3

False

# Logical operators
- and,or,not
- if all inputs are true the output is true(and)
- if any one if the output is true the output is true(or)
- opposite operaion for the given one(not)

In [42]:
2<5 and 3>6

False

In [43]:
3>6 or 3<9

True

In [52]:
a=100
not a

False

# Bitwise operator

In [54]:
2 & 3
# 2 - 0 0 1 0
# 3 - 0 0 1 1
# -------------
#   - 0 0 1 1

2

In [55]:
2 | 3

3

In [56]:
2^3

1

In [57]:
2>>3

0

In [58]:
2<<3

16

# identity operator

In [61]:
a is 100 and a is not 100

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\EFLAB\AppData\Local\Temp/ipykernel_4076/1988167162.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  a is 100 and a is not 100
C:\Users\EFLAB\AppData\Local\Temp/ipykernel_4076/1988167162.py:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  a is 100 and a is not 100

False

In [64]:
a==100 and a!=100

False

In [65]:
a==100 and a!=10

True

# Membership operator

In [66]:
s=[1,2,4,6,8,9,10]
4 in s

True

In [68]:
11 not in s

True

In [69]:
2 not in s

False

In [70]:
6 in s

True

In [75]:
a=10
a=a+1
# a+=1
# a-=1
# a*=1
# a/=1
print(a)

11

# Flow control
- Conditional statements(if,else,elif,nestedif)
- Loops(for,while)
- Break,Return

# Conditional statements

In [ ]:
# if
if(condition):

In [ ]:
#if - else
if(condition):
    statement 1
    statement 2
    statement 3
    -----------
    satement n
else:
    statement 1
    statement 2
    statement 3
    -------------
    statement n

In [93]:
a=int(input("Enter a value: "))
if a>2:
    print("a is greater value")
else:
    print("False")

Enter a value: 10
a is greater value

In [87]:
# given number is even or odd
n=int(input("Enter n value: "))
if(n%2==0):
    print(" even number")
else:
    print("odd")

Enter n value: 5
odd

In [ ]:
# given number is positive or negative or zero

In [98]:
a=int(input("Enter a value : "))
if(a==0):
    print(" a is equal to zero")
elif(a>0):
    print("a is positive")
else:
    print(" ais negative")

Enter a value : 5
a is positive

In [110]:
# number is divisible by 2 but not 10
a=int(input("Enter a value"))
if(a%2==0 and a%10!=0):
    print("valid number")
else:
    print("invalid number")

Enter a value16
valid number

In [ ]:
a=int(input()
if()

# Range
- syntax for the range is(start,endvalue,stepvalue)
- starting value is inclusive and ending value is exclusive

In [ ]:
range(start,end,step)

In [113]:
range(10,20,21)
# 10,11,12,13,14,15,16,17,18,19
range(20,30,2)
# 20,22,24,26,28
range(20,41,5)
# 25,30,35,40
range(50)
# consider as start value
range(20,30)
# consider as start and end value
range(10,1,-1)
# reverse print

range(10, 20, 21)

In [114]:
list(range(10,20,1))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [115]:
list(range(10,20,2))

[10, 12, 14, 16, 18]

In [116]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [117]:
list(range(10,20,))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [123]:
list(range(30,10,-5))

[30, 25, 20, 15]

# Loops
- for, while
-For loop:::in python is control flow staement bthat is used to execute a group of statements as long as the condition is satisified. such a type of statement is also known as an iterative statement.
therefore, a for loop is an iterative statement.

In [ ]:
syntax:::
    for iter in iterable: # range predefined function in the position of iterable
        statement 1
        satement 2
        statement n

In [3]:
for i in range(5):
    print(i,end=",")

0,1,2,3,4,

In [4]:
for i in range(5):
    print(i)

0
1
2
3
4

In [5]:
for i in range(0,11,2):
    print(i,end=" ")

0 2 4 6 8 10

In [13]:
# print the even numbers in the range of 0-100 and print the even numbers count
for n in range (0,101,2):
    c=c+1
    print(n,end=",")
print("\n even  number count",c)

0,2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,100,
 even  number count 51

In [17]:
c=0
for n in range (0,101,2):
    if n%2==0:
        c=c+1
        print(n,end=" ")
print("\n even  number count:",c)

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100
 even  number count: 51

In [23]:
# print leap years from range of 2000 t0 2022,
x=int(input())
y=int(input())
c=0
for i in range(x,y+1):
    if(i%4==0):
        c=c+1
        print(i,end=" ")
print("\n ywears count:",c)

2000
2030
2000 2004 2008 2012 2016 2020 2024 2028
 ywears count: 8

In [16]:
n=int(input())
y=int(input())
x=int(input())
for i in range(x,y+1):
    print(n,"*",i,"=",n*i)

5
25
15
5 * 15 = 75
5 * 16 = 80
5 * 17 = 85
5 * 18 = 90
5 * 19 = 95
5 * 20 = 100
5 * 21 = 105
5 * 22 = 110
5 * 23 = 115
5 * 24 = 120
5 * 25 = 125

In [2]:
# print factord of 5
n=int(input())
for i in range(1,n+1):
    if(n%i==0):
        print(i,end=" ")

6
1 2 3 6

In [14]:
# I/P aba
#97+98+98=292
# o/p 292
a=input()
s=0
for i in a:
        s=s+ord(i)
print(s)

Satish
620

In [3]:
# check the given number is even or not
n=int(input())
c=0
for i in range(1,n+1):
    if(n%i==0):
         c=c+1
if(c==2):
    print("prime number")
else:
    print(" not prime number")

1
 not prime number

In [2]:
a=int(input())
b=int(input())
print("Even numbers are:",end="")
for i in range(a,b+1):
    if i%2==0:
        print(i,end=" ")
print("\n odd numbers are:",end=" ")
for i in range(a,b+1):
      if i%2!=0:
          print(i,end=" ")

5
10
Even numbers are:6 8 10
 odd numbers are: 5 7 9