# while
- it exicutes block or set of instructions until the condition is false
- while we don't use the range
- executes faster than the for loop
- user incrementation

In [ ]:
# while syntax 
initilization
while condition:
    statements
    incr/decrement

In [5]:
n=10
while n>=0:
    print(n,end=" ")
    n-=1

10 9 8 7 6 5 4 3 2 1 0

In [9]:
# i/p 1 2 3 4
# o/p digit count 
s=int(input())
c=0
while(s!=0): # 1234!=0 123!=0 12!=0 1!=0
    c=c+1    # 1234%10 123%10
    s=s//10
print("\n digit count: ",c)

1234

 digit count:  4

In [1]:
# check the given number is pallindrome or not
n=int(input())
rev=0
temp=n
while(n!=0):
    rem=n%10
    rev=rev*10+rem
    n=n//10
if(temp==rev):
    print("palindrome")
else:
    print("not palimdrome")

121
palindrome

In [ ]:
# Syntax::Nested for loop
for iter in range(start,end,step):
    for iter in range(start,end,step):
        statements 1 
        statements 2
        -----------
        statement n

In [ ]:
# matrix formation
- rows,coloumns
- 2dimensional
    1 2 3
    4 5 6

In [2]:
for row in range(1,5):
    for coloumn in range(1,5):
        print(row,end=" ")
    print()

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [15]:
for row in range(1,6):
    for coloumn in range(1,9):
        print("*",end=" ")
    print()

* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *

In [13]:
for row in range(1,6):
    for coloumn in range(1,row+1):
        print("*",end=" ")
    print()
for row in range(6,0,-1):
    for coloumn in range(1,row+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [3]:
# 1-10 
# prime numbers : 2,3,5,7
st=int(input())
en=int(input())
for num in range(st,en+1):
    c=0
    for var in range(1,num+1):
        if num%var==0:
            c+=1
        if c==2:
            print(num,end=" ")

1
10
2 3 4 4 5 6 7 8 8 9 9 9 9 9 9 10 10 10

In [4]:
n=int(input())
y=int(input())
x=int(input())
i=0
for i in range(x,y+1):
    print(n,"*",i,"=",n*i)

9
100
95
9 * 95 = 855
9 * 96 = 864
9 * 97 = 873
9 * 98 = 882
9 * 99 = 891
9 * 100 = 900

In [2]:
i=1
while i<=10:
    j=1
    while j<=10:
        print(i,"*",j,"=",i*j)
        j+=1
    print()
    i+=1

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [7]:
n=int(input())
m=int(input())
for i in range(n,m+1):
    for j in range(n,m+1):
        print(i,"*",j,"=",i*j)

1
5
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25

# Jump statements
- We called as uncondtional jumps
    - Break
    - continue
    - pass

# Break
- Terminates the current loop statement
- Break is a keyword

In [11]:
for i in "python":
    if i=='h':
         break
    print(i,end=" ")

p y t

In [6]:
i=1
while(i<=10):
    print(i,end=" ")
    i+=1
    if i==6:
        
        break

1 2 3 4 5

In [5]:
for i in range(10):
    if i==6:
        continue
        print("fdp")
    print(i,end=" ")

0 1 2 3 4 5 7 8 9

In [4]:
for i in range(10):
    if(i%2==0):
        continue
    print(i,end=" ")

1 3 5 7 9

# pass
- it is a keyword
- when we need condtion scientifically correct need to change another operation
- it is a null operation
- pass statement we use to create empty classes also

In [7]:
s="python"
for i in s:
    if i=='h':
        pass
        print("pass executed")
    print(i)

p
y
t
pass executed
h
o
n

# String
- string is a group of character
- string is a derived datatype and immutable 
- all strings returns a new values

In [21]:
a="vasavi"
print(type(a))

<class 'str'>

In [22]:
print(len(a))

6

In [23]:
print(min(a))
print(max(a))
print(sorted(a))

#print(sum(a))

a
v
['a', 'a', 'i', 's', 'v', 'v']

In [26]:
a="python"
b="workshop"
print(a+b)
print(a,b)
print(a*b)

pythonworkshop
python workshop

TypeError: can't multiply sequence by non-int of type 'str'

In [47]:
# slicing syntax::(start:end:step)
# positive indexing(left to right)
# negative indexing(right to left)
s="python workshops"
print(len(s))
print(s[0])
print(s[5])
print(s[15])
print(s[-4])
print(s[-7])
print(s[::])
print(s[::-1])
print(s[5:7])
print(s[0:5])
print(s[5:10])
print(s[-5:-1])

16
p
n
s
h
r
python workshops
spohskrow nohtyp
n
pytho
n wor
shop