In [14]:
print("hi")

hi

# Hello students
## Hello students
### Hello students
#### Hello students
##### Hello students
###### Hello students

**mahi**  
*mahi*
***mahi***

fgfafgfgfgf
hgshdghghkg
hghkaghmkbhmk

iam from sri vasavi    
iam from egt  
iam from kakinada

## unorder list

+ one  
- two  
* three  
+ four
    + five  
    -six  
    * seven
        + eight   
        - nine  
        * ten

## order list

1. sat  
2. pj  
3. bana  
4. kaja  
    5. rajesh
    6. devi  
    7. asha
    8. navya
        10. ravi  
        11. mahesh  
        12. mahi  
        13. subbu

## comments
- User readable information or data
- Comment doesnot execute
- it is mentioned in single '#'
- for multiple line comment mentiom in the formation of''' '''

## variable
- variable is used to storing the data
- variable starts with characters,underscore
- variable couldnot start with numbers,special symblos,keywords

## data types
- int(all integer values)
- float(integer with decimal point)
- str(combination of characters or group of characters)
- complex(number with real and imaginary part)
- boolean(true,false)

In [16]:
a=10
b=52.69
c="satish"
d='p'
e="1+2j"
f="1+3j"
g=True
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'bool'>

In [17]:
abc=45;
print(type(abc))

<class 'int'>

In [20]:
z=float(abc)
print(type(z))
print(z)

<class 'float'>
45.0

In [21]:
z=complex(abc)
print(type(z))
print(z)

<class 'complex'>
(45+0j)

In [22]:
abc="12345674"
z=float(abc)
print(type(z))
print(z)

<class 'float'>
12345674.0

In [23]:
z=int(abc)
print(type(z))
print(z)

<class 'int'>
12345674

In [24]:
z=complex(abc)
print(type(z))
print(z)

<class 'complex'>
(12345674+0j)

In [25]:
vas=1234.0
print(type(vas))
a=int(vas)
print(type(a))
print(a)

<class 'float'>
<class 'int'>
1234

In [26]:
a=str(vas)
print(type(a))
print(a)

<class 'str'>
1234.0